-unless @user == nil
  -if @user.errors.any?
    %ul
    -@user.errors.full_messages.each do |msg|
      %li #{msg}

.container.h-auto
  .row
    %div.col-md-12.min-vh-100.d-flex.flex-column.justify-content-center
      .row
        %div.col-lg-6.col-md-8.mx-auto
          .card
            .card-header.text-center
              %h3 Signup
            .card-body.text-center
              = form_tag users_path do
                = label :user, :name, 'Name'
                = text_field :user, 'name', :id=> 'signupUser'
                %p
                = label :user, :email, 'EMail'
                = email_field :user, 'email', :id=> 'signupEmail'
                %p
                = label :user, :password, 'Password'
                = password_field :user, 'password', :id=> 'signupPassword'
                %p
                = label :user, :password_confirmation, 'Confirm Your Password'
                = password_field :user, 'password_confirmation', :id=> 'signupPasswordConfirmaiton'
                %p
                = submit_tag 'Create my account', :id=> 'signupCreate'